{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:80px">
<div class="row">
  <div class="container">
    <h3>{{orgName}}</h3>
    <h4>Funding Deadline: {{funding.fType}} ({{funding.deadline}})</h4>
    <form method="POST" action="">
      <div class="form-group">
        <label for="fundingDeadline">Change Deadline:</label>
        <select class="form-control" name="fundingDeadline"
                id="fundingDeadline" required="required">
          <option disabled selected value=""> Choose a deadline </option>
          {% for d in deadlineList %}
            <option value="{{d.deadline}}"> {{d.fType}} -- {{d.deadline}}
              </option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" name="submit" class="btn btn-primary"
              value="change">Change Deadline</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="container">
      <h4>Add an Event</h4>
      <form method="POST" action="">
        <div class="form-group">
          <label for="eventName">Event Name:</label>
          <input class="form-control" type="text" id="eventName"
                 name="eventName" placeholder="Enter event name" required>
        </div>

        <div class="form-group">
          <label for="eType">Event Type:</label>
          <select class="form-control" name="eType" id="eType"
                  required="required">
            <option disabled selected value=""> Choose an event type </option>
            <option value="Bonding"> Bonding </option>
            <option value="Eboard"> Eboard </option>
            <option value="Lecture"> Lecture </option>
            <option value="Mixer"> Mixer </option>
            <option value="Other"> Other </option>
            <option value="Party"> Party </option>
            <option value="Publication"> Publication </option>
            <option value="Show"> Show </option>
            <option value="Tournament"> Tournament </option>
            <option value="Workshop"> Workshop </option>
          </select>
        </div>

        <div class="form-group">
          <label for="purpose">Purpose of Event:</label>
          <textarea class="form-control" id="event" rows="6"
                    placeholder="Explain the purpose of the event"
                    name="purpose" required></textarea>
        </div>

        <div class="form-group">
          <label for="eventDate">Event Date:</label>
          <input class="form-control" type="date" id="eventDate"
                 name="eventDate" required>
        </div>

        <div class="form-group">
          <label for="students">Number Student Attendees:</label>
          <input type="number" class="form-control" id="students"
                 placeholder="Enter student attendee" name="students" required>
        </div>

        <button type="submit" name="submit" class="btn btn-primary"
                value="event">Add Event</button>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="container">
      {% for e in eventList %}
        <h4>Event: {{e.eventName}} ({{e.eventDate}})</h4>
        <h5>{{e.eType}} requested ${{e.foodReq}} Food,
                                  ${{e.nonFoodReq}} Non Food</h5>
        <form method="POST" action="">
          <button type="submit" name="submit" class="btn btn-primary"
                  value="edit {{e.id}}">Edit Event</button>
        </form>
        </br>
      {% endfor %}
    </div>
  </div>

</div></div>

{% endblock %}
