{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:80px">

  <h4>Add Cost for {{eventName}}</h4>
  <form method="POST" action="">
    <div id="cost">
      <div class="form-group">
        <label for="cType">Cost Type:</label>
        <select class="form-control" name="cType" id="cType"
                required="required">
          <option disabled selected value=""> Choose a cost type </option>
          <option value="Attendee"> Attendee </option>
          <option value="Food"> Food </option>
          <option value="Formula"> Formula </option>
          <option value="Honorarium"> Honorarium </option>
          <option value="Supply"> Supply </option>
        </select>
      </div>

      <div class="form-group">
        <label for="total">Total Cost Requested:</label>
        <input type="number" class="form-control" id="total" name="total"
               required>
      </div>
    </div>

    <button type="submit" name="submit" class="btn btn-primary" value="add">
      Add</button>

  </form>
</div>

<!-- AJAX HERE FOR REST OF COST OPTIONS !! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
<script>
  $(document).ready(function() {
    $('#cType').change(function() {
      // function to figure out what to add to rest of form
      var c = $('#cType').val();
      console.log(c);

      if (c === "Attendee") {
        var html = `<div class="form-group">
                      <label for="pdf">PDF Upload of Student Justification:
                        </label>
                      <input type="file" class="form-control-file"
                             id="pdf" accept="application/pdf"
                             aria-describedby="pdfHelp" required>
                      <small id="pdfHelp" class="form-text text-muted">
                             You can only upload PDF documents.</small>
                    </div>`;
      }
      else if (c === "Food") {
        var html = `<div class="form-group">
                      <label for="explanation">Food Explanation:</label>
                      <textarea class="form-control" id="explanation" rows="4"
                                placeholder="Enter food explanation here"
                                name="explanation" required></textarea>
                    </div>`;
      }
      else if (c === "Formula") {
        var html = `<div class="form-group">
                      <label for="kind">Formula Kind:</label>
                        <select class="form-control" name="kind" id="kind"
                                required="required">
                        <option disabled selected value=""> Choose a formula
                          </option>
                        <option value="Car"> Car </option>
                        <option value="Crowd Control"> Crowd Control </option>
                        <option value="Custodial"> Custodial </option>
                        <option value="Eboard"> Eboard </option>
                        <option value="Open Meeting"> Open Meeting </option>
                        <option value="Programs"> Programs </option>
                        <option value="Publicity"> Publicity </option>
                        <option value="Speaker Meal"> Speaker Meal </option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="input">Input for Formula:</label>
                      <input type="number" class="form-control" id="input"
                             name="input" required>
                    </div>
                    <div class="form-group">
                      <label for="pdf">PDF Upload of Student Justification:
                        </label>
                      <input type="file" class="form-control-file" id="pdf"
                             accept="application/pdf"
                             aria-describedby="pdfHelp">
                      <small id="pdfHelp" class="form-text text-muted">
                             You can only upload PDF documents.</small>
                    </div>`;
      }
      else if (c === "Honorarium") {
        var html = `<div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name"
                             placeholder="Enter name of vendor" name="name"
                             required>
                    </div>
                    <div class="form-group">
                      <label for="contract">PDF Upload of Contract:</label>
                      <input type="file" class="form-control-file"
                             id="contract" accept="application/pdf"
                             aria-describedby="pdfHelp" required>
                      <small id="pdfHelp" class="form-text text-muted">
                             You can only upload PDF documents.</small>
                    </div>`;
      }
      else if (c === "Supply") {
        var html = `<div class="form-group">
                      <label for="pdf1">PDF Upload of Proof of Cost (1):</label>
                      <input type="file" class="form-control-file" id="pdf1"
                             accept="application/pdf"
                             aria-describedby="pdfHelp" required>
                      <small id="pdfHelp" class="form-text text-muted">
                             You can only upload PDF documents.</small>
                    </div>
                    <div class="form-group">
                      <label for="pdf2">PDF Upload of Proof of Cost (2):</label>
                      <input type="file" class="form-control-file" id="pdf2"
                             accept="application/pdf"
                             aria-describedby="pdfHelp">
                      <small id="pdfHelp" class="form-text text-muted">
                             You can only upload PDF documents.</small>
                    </div>
                    <div class="form-group">
                      <label for="pdf3">PDF Upload of Proof of Cost (3):</label>
                      <input type="file" class="form-control-file" id="pdf3"
                             accept="application/pdf"
                             aria-describedby="pdfHelp">
                      <small id="pdfHelp" class="form-text text-muted">
                             You can only upload PDF documents.</small>
                    </div>`;
      }
      else {
        var html = "";
      }
      $('#cost').append(html);
    });
  });
</script>

{% endblock %}
