{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:80px">
<div class="row">
  <h4>{{event.eventName}}  -- {{event.eventDate}}</h4>
  <h3>{{event.eType}} requested ${{event.foodReq}} Food,
                                ${{event.nonFoodReq}} Non Food</h3>
</div>

<div class="row">
  <div class="col">
    <div class="container">
      <h4>Update or Delete Event</h4>
      <form method="POST" action="">
        <div class="form-group">
          <label for="eventName">Event Name:</label>
          <input class="form-control" type="text" id="eventName"
                 name="eventName" value="{{event.eventName}}" required>
        </div>

        <div class="form-group">
          <label for="eType">Event Type:</label>
          <select class="form-control" name="eventName" id="eType"
                  required="required">
            <option selected value="{{event.eType}}"> {{event.eType}} </option>
            <option value="Bonding"> Bonding </option>
            <option value="Eboard"> Eboard </option>
            <option value="Lecture"> Lecture </option>
            <option value="Mixer"> Mixer </option>
            <option value="Other"> Other </option>
            <option value="Party"> Party </option>
            <option value="Publication"> Publication </option>
            <option value="Show"> Show </option>
            <option value="Tournament"> Tournament </option>
            <option value="Workshop"> Workshop </option>
          </select>
        </div>

        <div class="form-group">
          <label for="eventDate">Event Date:</label>
          <input class="form-control" type="date" id="eventDate"
                 name="eventDate" value="{{event.eventDate}}" required>
        </div>

        <div class="form-group">
          <label for="students">Number Student Attendees:</label>
          <input type="number" class="form-control" id="students"
                 value="{{event.students}}" name="students" required>
        </div>

        <button type="submit" name="submit" class="btn btn-primary"
                value="update">Update Event</button>
        <button type="submit" name="submit" class="btn btn-primary"
                value="delete">Delete Event</button>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <form method="POST" action="">
        <button type="submit" name="submit" class="btn btn-primary"
                value="cost">Add a Cost</button>
      </form>

      {% for c in costList %}
        <h4>{{c.cType}} Cost for {{c.totalReq}}</h4>
        <form method="POST" action="">
          <button type="submit" name="submit" class="btn btn-primary"
                  value="edc {{c.id}}">Edit Cost</button>
          <button type="submit" name="submit" class="btn btn-primary"
                  value="add {{c.id}}">Add Appeal</button>
        </form>
      {% endfor %}

      {% for ca in costAppealList %}
        <h4>{{ca.cType}} Cost for {{ca.totalReq}}</h4>
        <p>Appeal: {{ca.explanation}}</p>
        <form method="POST" action="">
          <button type="submit" name="submit" class="btn btn-primary"
                  value="edc {{ca.id}}">Edit Cost</button>
          <button type="submit" name="submit" class="btn btn-primary"
                  value="eda {{ca.id}}">Edit Appeal</button>
        </form>
      {% endfor %}
    </div>
  </div>

</div></div>

{% endblock %}
